Scene {
  -fx-background-color: GREY;
}

VBox {
  -fx-padding: 10px;
  -fx-spacing: 10px;
  -fx-background-color: black;
}


HBox {

  -fx-alignment: center-left;
  -fx-spacing: 10px;

}


Label {
  -fx-font-size: 12pt;
}

Button, ToggleButton {
  -fx-pref-width: 100px;
  -fx-pref-height: 25px;
  -fx-min-width: 25px;
  -fx-min-height: 25px;
  -fx-background-color: lightgrey;

}

Spinner {
  -fx-pref-width: 200px;
  -fx-min-width: 100px;
}

Pane#generationContainer {
  -fx-background-color: black;
}


